<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
    <!-- <app-bar> -->
        <nav>
        <div class="app-bar-container">
            <div class="app-bar-logo">
                <span>Restaurant Apps</span>
            </div>
            <div class="app-bar-menu">
                <a href="#">Home</a>
                <a href="#">Favorite</a>
                <a href="https://github.com/wimpoge">About Us</a>
            </div>
        </div>
    </nav>
    <!-- </app-bar> -->

<img src="/src/public/images/heros/hero-image_2.jpg" width="100%" alt="">
<h2 style="text-align:center">Cari Restaurant</h2>

<div id="listRestaurant"></div>

<footer>
        <div>
            <span>Copyright © 2022 - Restaurant Apps</span>
        </div>
</footer>
<script type="text/javascript" src="../DATA.json"></script>
<script type="text/javascript" src="/src/scripts/main.js"></script>
</body>
</html>
